<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Работа с клиентами</title>
</head>

<body>
    <div class="container container-index-bg ">

        <div class="opacity-layer">
            <div class="index-blocks">
                <div class="index-blocks-left block-border">
                    <div class="index-blocks-left-up block-border">
                        <h3 class="index-blocks-left-up-h3">Меню</h3>

                        <a href="#" class="button">Клиенты</a>
                        <a href="#" class="button">Задачи</a>
                        <a href="#" class="button">Заявки?</a>
                    </div>
                    <div class="index-blocks-left-bottom block-border">


                        <div class="index-blocks-left-bottom-block">
                            <div class="index-blocks-left-bottom-left">
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Клиент
                                </label>
                            </div>
                            <div class="index-blocks-left-bottom-right">
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Название
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Город
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Район
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Аппараты
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Контакты
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Адрес
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="index-blocks-left-bottom-block">
                            <div class="index-blocks-left-bottom-left">
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Задача
                                </label>
                            </div>
                            <div class="index-blocks-left-bottom-right">
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Клиент
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Суть
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Дата
                                </label>
                                <label class="index-blocks-left-bottom-label">
                                    <input type="checkbox" checked class="index-blocks-left-bottom-input">Район
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index-blocks-right block-border">
                    <div class="index-blocks-right-up">
 <div> <a href="/new_client" class="button index-blocks-right-up-add-client-button">Новый клиент</a></div>
                    </div>
                    <div class="index-blocks-right-bottom">
                        <div class="index-blocks-right-bottom-data bottom-border heading">
                            <div class="index-blocks-right-bottom-checkbox-container">
                                Изменить
                            </div>
                            <div class="index-blocks-right-bottom-client left-border heading">Клиент</div>
                            <div class="index-blocks-right-bottom-client left-border heading">Город</div>
                            <div class="index-blocks-right-bottom-client left-border heading">Район</div>
                            <div class="index-blocks-right-bottom-client left-border heading">Аппарат</div>
                            <div class="index-blocks-right-bottom-client left-border heading">Контактное лицо</div>
                        </div>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">
                                 <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                  <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                  <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                  <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                </div>

                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls no-checked">
                                <div class="index-blocks-right-bottom-checkbox-container no-checked"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border no-checked">1</div>
                            </div>
                        </form>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" checked class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls">
                                <div class="index-blocks-right-bottom-checkbox-container bottom-border"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border bottom-border">1</div>
                                 <div class="index-blocks-right-bottom-client left-border bottom-border">1</div>
                                  <div class="index-blocks-right-bottom-client left-border bottom-border">1</div>
                                   <div class="index-blocks-right-bottom-client left-border bottom-border"> <a href="#" class="button">Добавить</a></div>
                                    <div class="index-blocks-right-bottom-client left-border bottom-border"><a href="#" class="button">Добавить</a></div>
                            </div>
                        </form>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls no-checked">
                                <div class="index-blocks-right-bottom-checkbox-container controls-line"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border no-checked">1</div>
                            </div>
                        </form>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls no-checked">
                                <div class="index-blocks-right-bottom-checkbox-container controls-line"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border no-checked">1</div>
                            </div>
                        </form>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls no-checked">
                                <div class="index-blocks-right-bottom-checkbox-container controls-line"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border no-checked">1</div>
                            </div>
                        </form>
                        <form action="#">
                            <div class="index-blocks-right-bottom-data bottom-border">
                                <div class="index-blocks-right-bottom-checkbox-container"> <input type="checkbox" class="index-blocks-right-bottom-checkbox"></div>
                                <div class="index-blocks-right-bottom-client left-border">Клиент рога и копыта ООО 1</div>
                                <div class="index-blocks-right-bottom-client left-border">Волгоград</div>
                                <div class="index-blocks-right-bottom-client left-border">Центральный</div>
                                <div class="index-blocks-right-bottom-client left-border">Ризограф</div>
                                <div class="index-blocks-right-bottom-client left-border">Василий Иванович Петренко</div>
                            </div>
                            <div class="index-blocks-right-bottom-controls no-checked">
                                <div class="index-blocks-right-bottom-checkbox-container controls-line"> 1</div>
                                <div class="index-blocks-right-bottom-client left-border no-checked">1</div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
